.media {

    display: flex;
    align-items: flex-end;
    background: #f3f0e8;
    padding: 10em;
    border-radius: 3px;
    max-width: 30em;
  }
  .media-object {
    width: 300px;
    height: 280px;
    margin-right: 1em;
  }
  .media-body {
    flex: 10;
  }
  .media-heading {
    margin: 0 0 .5em;
  }
  body{
    background-color: bisque;
    text-align: center;
  }